doctype html
html
  head
    title= '42login'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/logout') logout
	a(href='https://github.com/weg901127/42login.git') repo
    block content
